---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -2
PointerAlignment: Right
ReferenceAlignment: Pointer

BreakBeforeBraces: Attach
BraceWrapping:
  AfterControlStatement: Never
  AfterFunction: false
  AfterClass: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Less dense constructor initializer lists
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4

# Keep argument lists compact, but not initializer lists
BinPackArguments: true
BinPackParameters: true

# Expand short functions
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: true

# Improve visual separation
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1

IndentCaseLabels: true
IndentCaseBlocks: false
NamespaceIndentation: None

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpacesInAngles: Never
SpaceAfterTemplateKeyword: true

Standard: Latest
UseTab: Never
